body {
  font-family: "ptsans", "Arial", sans-serif;
  width: 320px;
  margin: auto;
}

@media (min-width: @tablet) {
  body {
    width: 768px;
  }
}

@media (min-width: @desktop) {
  body {
    width: 1200px;
  }
}
