.feedback-info {
  width: 320px;
}

.feedback-info__greetings-wrap {
  padding-top: 39px;
  margin: 0;
  border-bottom: 1px solid lightgray;
}

.feedback-info__title {
  font-family: "ptsans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.feedback-info__greetings-message {
  font-family: "ptsans", "Arial", sans-serif;
  font-size: 14px;
  padding-top: 28px;
  padding-bottom: 18px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  line-height: 24px;
}

.feedback-info__label {
  font-family: "ptsans", "Arial", sans-serif;
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
  color: @gray-text;
}

.feedback-info__text-field {
  background-color: @gray-field;
  height: 58px;
  font-family: "ptsans", "Arial", sans-serif;
  font-weight: bold;
  padding-left: 20px;
  font-size: 18px;
  border: none;

  &:hover {
    background-color: @gray-field-hover;
  }

  &:focus {
    background-color: white;
    outline: 4px solid @gray-field-hover;
  }
}

.feedback-info__emotions-wrap {
  margin: 0;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.feedback-info__submit-wrap {
  margin-bottom: 22px;
}

.feedback-info__submit {
  background-color: @blue;
  font-family: inherit;
  font-weight: bold;
  font-size: 21px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-transform: uppercase;
  color: white;
  border: none;
  cursor: pointer;
  margin: auto 0 0 auto;
  width: 100%;
}

.feedback-info__required-mark {
  display: none;
}

@media (min-width: @tablet) {
  .feedback-info {
    width: 648px;
    margin: auto;
    margin-bottom: 16px;
  }

  .feedback-info__greetings-wrap {
    width: 440px;
    border: none;
    margin: auto;
  }

  .feedback-info__title {
    font-size: 21px;
  }

  .feedback-info__title-greetings {
    font-size: 30px;
    padding-top: 30px;
  }

  .feedback-info__greetings-message {
    padding-top: 23px;
  }

  .feedback-info__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    margin-top: 38px;
  }

  .feedback-info__submit-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .feedback-info__submit {
    margin-top: 8px;
    width: 325px;
    padding-left: 0;
  }

  .feedback-info__required-mark {
    display: inline-block;
  }
}

@media (min-width: @desktop) {
  .feedback-info {
    width: 960px;
    margin-bottom: 20px;
  }

  .feedback-info__title-greetings {
    padding-top: 68px;
  }

  .feedback-info__greetings-message {
    padding-top: 23px;
    width: 430px;
  }

  .feedback-info__wrapper {
    margin-top: 23px;
    width: 960px;
  }

  .feedback-info__submit {
    width: 480px;
    padding-left: 0;
  }
}
