//Стилизация блока .footer
.page-footer {
  text-transform: uppercase;
  text-align: center;
  border: 2px dashed gray;
}

.page-footer__title {
  font-size: 21px;
  padding-top: 42px;
  padding-bottom: 42px;
  margin: 0;
  font-weight: bold;
}

.copyright {
  padding-bottom: 40px;
}

.copyright__text {
  font-size: 14px;
  color: @gray-text;
  font-style: normal;
}
