
// Стилизация блока .header

.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo-wrap {
  order:2;
  align-self: center;
}

.main-menu__logo-wrap {
  display: none;
}

.page-header__logo-link {
  text-align: center;
}

.main-menu {
  border: 2px dashed gray;
  display: block;
}

.main-menu__item {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid gray;
}

.main-menu__link {
  text-decoration: none;
  display: block;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;

  &:link {
    color: white;
    background-color: @blue;
  }

  &:visited {
    color: @blue-down-text;
    background-color: @blue-down;
  }

  &:hover {
    color: white;
    background-color: @blue-hover;
  }

  &:active {
    color: white;
    background-color: @blue-active;
  }
}

@media (min-width: @tablet) {
    .page-header__nav-buttons {
    display: none;
  }

  .main-menu__logo-wrap {
    display: flex;
  }

    .page-header__logo-wrap {
    display: none;
  }

  .main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 58px;
    z-index: 2;
  }

  .main-menu__link {
    background-color: white;
    color: black;


    &:link {
      color: black;
      background-color: white;
    }

    &:visited {
      color: black;
      background-color: white;
    }

    &:hover {
      color: @blue;
      background-color: white;
    }

    &:active {
      color: white;
      background-color: white;
    }
  }
}
