.main-menu {
  display: block;
  position: relative;
}

.main-menu__item {
  display: table;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid gray;
  font-size: 18px;
  width: 100%;

}

.main-menu__link {
  text-decoration: none;
  height: 54px;
  display: table-cell;
  vertical-align: middle;

  &:link {
    color: white;
    background-color: @blue;
  }

  &:visited {
    color: @blue-down-text;
    background-color: @blue-down;
  }

  &:hover {
    color: white;
    background-color: @blue-hover;
  }

  &:active {
    color: white;
    background-color: @blue-active;
  }
}

.main-menu__logo-wrap {
  display: none;
}

@media (min-width: @tablet) {

  .main-menu__logo-wrap {
    display: flex;
  }

  .main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 58px;
    z-index: 2;
  }

  .main-menu__link {
    background-color: white;
    color: black;


    &:link {
      color: black;
      background-color: white;
    }

    &:visited {
      color: black;
      background-color: white;
    }

    &:hover {
      color: @blue;
      background-color: white;
    }

    &:active {
      color: white;
      background-color: white;
    }
  }
}
