.no-doubt {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.no-doubt__title {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  padding-top: 34px;
}

.no-doubt__message {
  color: @gray-text;
  font-size: 14px;
  padding-top: 28px;
  padding-bottom: 32px;
  margin: 0;
  line-height: 24px;
}

@media (min-width: @tablet) {
  .no-doubt {
    width: 648px;
    margin-left: auto;
    margin-right: auto;
  }

  .no-doubt__title {
    font-size: 30px;
    padding-top: 60px;
  }
  .no-doubt__message {
    padding-top: 24px;
    padding-bottom: 74px;
  }

  .no-doubt__video {
    height: 500px;
    margin-bottom: 10px;
  }
}

@media (min-width: @desktop) {
  .no-doubt {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .no-doubt__title {
    padding-top: 64px;
  }

  .no-doubt__message {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .no-doubt__video {
    width: 100%;
    margin-bottom: 52px;
  }
}
