.truetown {
  background-color: white;
  border: 2px dashed gray;
  padding-left: 60px;
}

.truetown__item-title {
  color: black;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.truetown__item-message {
  color: @gray-text;
  text-align: left;
  font-size: 14px;
}
