
//стилизация блока .welcome-block

.welcome-block {
  border: 2px dashed gray;
  background-color: lightgray;
  width: auto;
}

.welcome-block--main {
  height: 260px;
}

.welcome-block--up {
  height: 158px;
}

.welcome-block__welcome-background {
  background: url("../img/bg-intro-triangle-mobile.svg") no-repeat 0 235px, url("../img/bg-back-mobile@1x.jpg") no-repeat -183px -20px;
  position: relative;
  height: inherit;
}
